
@model PizzaModel

<div class="container">
	<form method="post" action="@Url.Action("ShowPizza", "Pizza")">
		@Html.AntiForgeryToken()
		<div class="mb-3">
			<strong>Id:</strong>
			<input asp-for="Id">
		</div>
		<div class="mb-3">
			<strong>Nome:</strong>
			<input asp-for="Name" >
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<strong >Descrizione:</strong>
			<input asp-for="Description">
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<strong >Prezzo:</strong>
			<input asp-for="Price">
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<strong>Foto:</strong>
			<input asp-for="Photo">
		</div>
		<button class="btn-primary btn" type="submit">Conferma</button>
	</form>
</div>